body {
  margin: 0;
  /* background-color: transparent !important; */
  background-color: rgb(30, 30, 30);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
